<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Document</title>
</head>
<script>
    var fun = function (doc, win) { 
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>568){
                clientWidth = 568;
                }
                if(clientWidth<=320){
                clientWidth = 320;
                }
                docEl.style.fontSize =100* (clientWidth / 760) + 'px';
            };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    }
    fun(document, window);
</script>
<body>
    <div id="app">
		<img src="./image/nijia-purple.png" style="width:100%;z-index: 99;" >
		<div>
			<span class="leftName">Product</span>
			<el-select v-model="NewForm.name" filterable remote style='width: 4.5rem;'
			reserve-keyword clearable :remote-method="remoteMethodProduct" @change="changeProduct"
			:loading="loading" placeholder="请选择">
				<el-option
				  v-for="item in ProductList"
				  :key="item.id"
				  :label="item.name"
				  :value="item.id">
				</el-option>
			</el-select>
		</div>
		<div >
			<span class="leftName">Size</span>
			<el-select v-model="NewForm.area_id" style='width: 4.5rem;margin-left: 0.7rem;' placeholder="请选择">
				<el-option
				  v-for="item in SizeList"
				  :key="item.id"
				  :label="item.name"
				  :value="item.id">
				</el-option>
			</el-select>
		</div>
		<el-image class='Image' src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg"></el-image>
		<el-table class='tableName' :data="tableData" border>
		    <el-table-column align='center' prop=""  label="Product" ></el-table-column>
		    <el-table-column align='center' prop=""  label="Quantity" >
				<el-input-number :controls='false'  size="small" :min="1"  label="描述文字"></el-input-number>
			</el-table-column>
		    <el-table-column align='center' prop=""  label="Price" >
				<template scope=''>
					<span style='color: #E2405A;font-weight: 600;'>${{188.21}}</span>
				</template>
			</el-table-column>
		</el-table>
		<div id="">
			<span class="leftName">Discount code</span>
			<el-input placeholder='please enter' style='width:3.5rem'></el-input>
		</div>
		<div class="line"></div>
		<div>
			<span class="leftName">Customer source</span>
			<el-select v-model="NewForm.area_id"  v-model='NewForm.name' style='width: 3rem;' placeholder="请选择">
				<el-option
				  v-for="item in CustomerList"
				  :key="item.id"
				  :label="item.name"
				  :value="item.id">
				</el-option>
			</el-select>
		</div>
		<div>
			<span class="leftName">Name</span>
			<el-input placeholder='please enter' style='width:5rem'></el-input>
		</div>
		<div>
			<span class="leftName">Email</span>
			<el-input placeholder='please enter' style='width:5rem'></el-input>
		</div>
		<div>
			<span class="leftName">Phone Number</span>
			<el-input placeholder='please enter' style='width:3.5rem'></el-input>
		</div>
		<div style="margin-top: 0.5rem;">
			<div class="leftName" style="text-align: left;margin-left: 0.4rem;">
				Country / Region
			</div>
			<el-select filterable remote style='width: 3rem;'  v-model='NewForm.name'
			reserve-keyword clearable :remote-method="remoteMethodCountry" @change="MonitorCountry"
			:loading="loading" placeholder="国家">
				<el-option
				  v-for="item in CountryList"
				  :key="item.id"
				  :label="item.name"
				  :value="item.id">
				</el-option>
			</el-select>
			<el-select style='width: 3rem;' v-model='NewForm.name' placeholder="地区">
				<el-option
				  v-for="item in RegionList"
				  :key="item.id"
				  :label="item.name"
				  :value="item.id">
				</el-option>
			</el-select>
		</div>
		<div>
			<span class="leftName">Address</span>
			<el-input placeholder='please enter' style='width:3.5rem'></el-input>
		</div>
		<div>
			<div class="leftName" style="text-align: left;margin-left: 0.4rem;">
				Delivery Option
			</div>
			<el-checkbox-group 
			    v-model="NewForm.box">
			    <el-checkbox v-for="item in citiesList" :label="item.data" :key="item.data">{{item.name}}</el-checkbox>
			 </el-checkbox-group>
		</div>
		<div class="PriceContent">
  		  <img src="./image/price.png" style="width: 100%;" >
		  <div class="FontCenter">
		  	Order amount:
			<span class="Amount">$165.5</span>
		  </div>
		  <div class="FontCenter" style="top:1.75rem">
		  	Preferential amount:
			<span class="Amount" style="left: 0.3rem;">$165.5</span>
		  </div>
		  <div class="FontCenter" style="top:2.5rem">
		  	Amount receivable:
			<span class="Amount" style="left: 0.5rem;">$165.5</span>
		  </div>
		</div>
		<div>
			<div class="leftName" style="text-align: left;margin-left: 0.4rem;">
				Proof of payment
			</div>
			<el-upload
			style='text-align: left;margin-left: 0.5rem;'
			  action="https://jsonplaceholder.typicode.com/posts/"
			  :on-change="handleChange"
			  :file-list="fileList">
			  <el-button type="success" class='uploadButton'>
				  <div class="imageCenter">
				    <img src="./image/Upload.png" style="width:60%;-webkit-transform: scale(1.5);">
				  </div>
				  Click to upload file
			  </el-button>
			</el-upload>
			<div class="uptitle">
				Kindly upload your proof of payment
			</div>
		</div>
		<div style="margin-top: 0.5rem;">
			<div class="leftName" style="text-align: left;margin-left: 0.4rem;">
				Proof of payment
			</div>
			<el-input
			  type="textarea"
			  :rows="4" style='width: 6.2rem;margin-top:0.3rem'
			  placeholder="请输入内容"
			  v-model="NewForm.name">
			</el-input>
		</div>
		<div style="margin-top: 0.5rem;">
			<div class="leftName" style="text-align: left;margin-left: 0.4rem;">
				Comment
			</div>
			<el-input
			  type="textarea"
			  :rows="2" style='width: 6.2rem;'
			  placeholder="请输入内容"
			  v-model="NewForm.name">
			</el-input>
		</div>
		<div style="margin-bottom: 0.5rem;">
		  <el-button round type='primary'>Submit</el-button>
		</div>
	</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="XMLHttp.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
            ProductList:[], // 产品
            SizeList:[], // 尺寸
            tableData:[{}],
			CustomerList:[], // 来源
			CountryList:[], // 国家
			RegionList:[], // 地区
			fileList:[],
			citiesList:[
				{
					name:'Pick up at the store',
					data: 0
				},
				{
					name:'Lagos delivery(1,500 NGN)',
					data: 1
				},
				{
					name:'Outside lagos delivery (3,000 NGN)',
					data: 2
				},
				{
					name:'International delivery(17,000 NGN)',
					data: 3
				},
				{
					name:'Other text',
					data: 4
				},
			], 
			loading: false,
			NewForm:{
				name:'',
				box:[],
			}
        }
      },
	  created(){
		  
	  },
      methods: {
		  
		// 图片上传
		handleChange(val){
			console.log(val)
		},
		// 远程搜索产品
		remoteMethodProduct(query) {
			if (query !== '') {
				this.loading = true;
				let data = {
					'keywords': query
				};
				Ajax("GET",' ',data).then((res)=>{
					if( res !== '' ) {
					  this.ProductList = res.result;
					  this.loading = false;
					}
				}).catch(res=>{
					this.$message({
						message: res,
						type: 'warning',
					});
				});
			} else {
				
			}
		},
		// 远程搜索国家
		remoteMethodCountry(query) {
			if (query !== '') {
				this.loading = true;
				let data = {
					'keywords': query
				};
				Ajax("GET",'api/countrys',data).then((res)=>{
					if( res !== '' ) {
					  this.CountryList = res.result;
					  this.loading = false;
					}
				}).catch(res=>{
					this.$message({
						message: res,
						type: 'warning',
					});
				});
			} else {
				
			}
		},
		// 监听产品是否选中
		changeProduct(val){
			console.log(val);
		},
		// 监听国家是否选中
		MonitorCountry(val){
			console.log(val)
		}
      }
    })
</script>
<style type="text/css">
	ul,p,li{padding: 0;margin: 0;font-size: 0.2rem;}
	body{
		background-color: #FDC7DC;
		font-family: 'Roboto';
	}
	#app{
		text-align: center;
		max-width: 568px;
	}
	.el-message{
		min-width: inherit;
		left: 4rem;
	}
	.el-message__icon{
		margin-right: 0.2rem;
		font-size: 0.5rem;
		margin-left: -0.1rem;
	}
	.leftName{
		font-size: 0.35rem;
		font-weight: 600;
	}
	.el-select .el-input.is-focus .el-input__inner,.el-input__inner:focus{
		border-color: #F2C2E3;
	}
	.Image{
		width: 6.2rem;
		margin-top: 0.5rem;
		border-color: #F2C2E3;
		border-radius: 0.1rem;
	}
	.tableName{
		width: 6.2rem;
		margin: 0 auto;
		margin-top: 0.2rem;
	}
	.el-input-number--small{
		width: 1.3rem;
	}
	.line{
		height: 2px;
		width: 85%;
		background: #BF8FCB;
		margin: auto;
		margin-top: 0.5rem;
	}
	.el-checkbox-group{
		margin-left: 0.5rem;
		text-align: left;
	}
	.el-checkbox{
		font-size: 0.5rem;
	}
	.el-checkbox__label{
		font-size: 0.3rem;
	}
	.el-textarea__inner:focus{
		border-color: #DCAFD8;
	}
	.el-button--primary,.el-button--success{
		background-color: #7A2293;
		border-color: #7A2293;
	}
	.el-button--success:focus, .el-button--success:hover,.el-button--primary:focus, .el-button--primary:hover{
		background-color: #7A2293;
		border-color: #7A2293;
	}
	.uptitle{
		font-size: 0.3rem;
		text-align: left;
		margin-left: 0.4rem;
		color: #806F77;
	}
	.imageCenter{
		display: inline-block;
		width: 0.8rem;
		height: 0.5rem;
		overflow: hidden;
	}
	.uploadButton{
		padding: 8px 15px 10px 10px;
	}
	.PriceContent{
		position: relative;
	}
	.FontCenter{
		position: absolute;
		font-size: 0.35rem;
		font-weight: 600;
		top: 0.98rem;
		left: 1rem;
		color: #575757;
	}
	.Amount{
		position: relative;
		left: 1.3rem;
		color: #E94E67;
	}
</style>
</html>